<div class="container text-center">
	<div class="call-to-action">
		<h2 id="title" ng-show="!inProgress">Quiz {{topic}}</h2>
		<div ng-show="inProgress">
			<h2 ng-show="!quizOver">
				<timer autostart="false" interval="1000">{{minutes}}m {{seconds}}s</timer>
			</h2>
			<h2 ng-show="quizOver">Quiz is over</h2>
		</div>
	
		<hr class="light">
	</div>
</div>

<div class="container text-center" ng-show="!topicChoice">	
	<p class="text-faded">Please select a quiz from the list of candidates to evaluate your knowledge.</p>
	<div class="container">
		<div class="row">
	    	<div class="col-lg-3 col-md-6 text-center">
	        	<div class="service-box">
					<a id="Sport" href="#quiz" class="btn btn-primary btn-xl page-scroll" ng-click="choiceTopic('sport')">
				    	<i class="fa fa-futbol-o"></i>&nbsp;Sport Quiz
					</a>
				</div>
			</div>
	    	<div class="col-lg-3 col-md-6 text-center">
	        	<div class="service-box">
					<a id="Television" href="#quiz" class="btn btn-primary btn-xl page-scroll" ng-click="choiceTopic('television')">
						<i class="fa fa-tv"></i>&nbsp;Television Quiz
					</a>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
	        	<div class="service-box">
					<a id="Policy" href="#quiz" class="btn btn-primary btn-xl page-scroll" ng-click="choiceTopic('policy')">
				    	<i class="fa fa-balance-scale"></i>&nbsp;Policy Quiz
					</a>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
	        	<div class="service-box">
					<a id="Game" href="#quiz" class="btn btn-primary btn-xl page-scroll" ng-click="choiceTopic('gaming')">
						<i class="fa fa-gamepad"></i>&nbsp;Game Quiz
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
	  
<div ng-show="topicChoice">              
	<div ng-show="inProgress">
		<div class="text-faded" ng-show="!quizOver">
			<div class="container text-center">
		  		<h3>Quiz {{category}} - Question {{cpt}} - Score {{score}}</h3>
		  	</div>
		  	<br>
		  	<div class="container text-left">
				<p id="question">Who said : "{{question}}" ?</p>
				<div ng-repeat="option in options track by $index">
					<label>
						<input type="radio" name="answer" value="{{option}}">
						&nbsp;{{option}}
					</label>
				</div>
			</div>
			<div class="container text-center" ng-show="answerMode">
				<a id="validate" class="btn btn-primary btn-xl page-scroll" ng-click="checkAnswer()">
					<i class="fa fa-check"></i>&nbsp;Submit
				</a>
			</div>
		
		   	<div class="container text-center" ng-show="!answerMode">
		   		<a id="next" class="btn btn-primary btn-xl page-scroll" ng-click="nextQuestion()">
					Next&nbsp;<i class="fa fa-chevron-right"></i>
				</a>
				<br><br>
				<p class="text-success" ng-show="correctAns">That is correct!</p>
				<div id="incorrectAns">
					<p class="text-danger" ng-show="!correctAns">Sorry, that is an incorrect answer.</p>
				</div>
			</div> 
		</div>
		
		<script>
		$( document ).click(function() {
		  $( "#incorrectAns" ).effect( "shake" );
		});
		</script>
  		<script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	 
		<div class="container text-center" ng-show="quizOver">
			<p class="text-faded">You have completed the quiz in {{time.minutes}}:{{time.seconds}} with {{score}} good answers.</p>
			<div>
				<a id="playAgain" class="btn btn-primary btn-xl page-scroll" ng-click="reset()">
					<i class="fa fa-reply"></i>&nbsp;Play again
				</a>
				<form action="./post" method="post">
					<div class="form-group">
						<textarea class="form-control" rows="3" name="text" ng-show="textarea-share-hidden">That's good! {{score}}/10 in {{time.minutes}}:{{time.seconds}} minutes. You can test too on -> http://1-dot-whosaidthatontwitter.appspot.com #{{topic}} #WhoSaidThatOnTwitter</textarea>
					</div>
					<button type="submit" id="share" class="btn btn-primary btn-xl page-scroll">
			    		<i class="fa fa-share-square-o"></i>&nbsp;Share
			    	</button>
				</form>
			</div>
		</div>
	</div>
	
	<div class="container text-center" ng-show="!inProgress">
		<p class="text-faded">You are about to start a quiz. Are you ready ?</p>
		<a id="back" class="btn btn-primary btn-xl page-scroll" ng-click="reset()">
			<i class="fa fa-chevron-left"></i>&nbsp;Go Back
		</a>
		&nbsp;
		<a id="startQuiz" class="btn btn-primary btn-xl page-scroll" ng-click="start()">
			Let's go&nbsp;<i class="fa fa-chevron-right"></i>
		</a>
	</div>
</div>
