<h2 id="title">Quiz {{topic}}</h2>
<hr class="light">

<div class="choice-area" ng-show="!topicChoice">	
	<p class="text-faded">Please select a quiz from the list of candidates to evaluate your knowledge.</p>
	<div class="container">
		<div class="row">
	    	<div class="col-lg-3 col-md-6 text-center">
	        	<div class="service-box">
					<a id="Sport" href="#quiz" class="btn btn-primary btn-xl page-scroll" ng-click="choiceTopic('sport')">
				    	<i class="fa fa-futbol-o"></i>&nbsp;Sport Quiz
					</a>
				</div>
			</div>
	    	<div class="col-lg-3 col-md-6 text-center">
	        	<div class="service-box">
					<a id="Television" href="#quiz" class="btn btn-primary btn-xl page-scroll" ng-click="choiceTopic('television')">
						<i class="fa fa-tv"></i>&nbsp;Television Quiz
					</a>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
	        	<div class="service-box">
					<a id="Policy" href="#quiz" class="btn btn-primary btn-xl page-scroll" ng-click="choiceTopic('policy')">
				    	<i class="fa fa-balance-scale"></i>&nbsp;Policy Quiz
					</a>
				</div>
			</div>
			<div class="col-lg-3 col-md-6 text-center">
	        	<div class="service-box">
					<a id="Game" href="#quiz" class="btn btn-primary btn-xl page-scroll" ng-click="choiceTopic('gaming')">
						<i class="fa fa-gamepad"></i>&nbsp;Game Quiz
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
	  
<div ng-show="topicChoice">              
	<div class="quiz-area" ng-show="inProgress">
		<div ng-show="!quizOver">
		  	<h3>Question {{cpt}} - topic {{category}}</h3>
			<h4 id="question">Who said : "{{question}}" ?</h4>
			<ul id="options">
				<li ng-repeat="option in options track by $index">
					<label>
						<input type="radio" name="answer" value="{{option}}">
						{{option}}
					</label>
				</li>
			</ul>
			<button ng-click="checkAnswer()" ng-show="answerMode">Submit</button>
		
		   	<div ng-show="!answerMode">
				<button ng-click="nextQuestion()" class="next-question">Next</button>
				<span ng-show="correctAns">That is correct!</span>
				<span ng-show="!correctAns">Sorry, that is an incorrect answer.</span>
			</div> 
		</div>
	 
		<div ng-show="quizOver">
			<h2>Quiz is over</h2>
			<button ng-click="reset()">Play again</button>
		</div>
	 
		<div id="score">
			Score: {{score}}
		</div>
	</div>
	
	<div class="intro" ng-show="!inProgress">
		<p class="text-faded">You are about to start a quiz. Are you ready ?</p>
		<button id="back" class="btn btn-primary btn-xl page-scroll" ng-click="reset()">
			<i class="fa fa-chevron-left"></i>&nbsp;Go Back
		</button>
		&nbsp;
		<button id="startQuiz" class="btn btn-primary btn-xl page-scroll" ng-click="start()">
			Let's go&nbsp;<i class="fa fa-chevron-right"></i>
		</button>
	</div>
</div>
